<h1>Confirmation mail GetMAN</h1><br>

<p>
    Veuillez cliquer <a href="{{ signedUrl|raw }}">ici</a> afin de confirmer la création de votre compte.<br>
    Ce lien est encore valable pour {{ expiresAt|date('g') }} hour(s).<br>
</p>

<p>
    A tout de suite sur GetMAN !
</p>
