body{
    margin: 0px 0;
    min-height: 100vh;
    background-color: #fcfcfc;
}
.fond-blanc{
    background-color: white;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 4px groove #0f0f0f;
}

.paramtype {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.paramtype input {
    width: 9vw;
}

.break-word {
    word-break: break-all;
}

.request:hover {
    cursor: pointer;
    filter: sepia(100%);
}
